body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: olivedrab;
    font-family: monospace;
}

.one {
    background-color: burlywood;
    border-radius: 8px;
    padding: 20px;
    max-width: 450px;
    width: 100%;
}

.two {
    display: flex;
    flex-direction: column;
}

.two h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size:30px;
    color: saddlebrown;
}

.form-group {
    margin-bottom: 15px;
}

.form-group input[type="email"],
.form-group input[type="password"],
.form-group input[type="text"],
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.form-group.gender {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-group.gender label {
    margin: 0;
}

.form-group label {
    display: flex;
    align-items: center;
}

.form-group label input {
    margin-right: 5px;
}

.btn{
    background-color:darkolivegreen ;
    color:ghostwhite;
    padding:8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.btn:hover {
    background-color:olivedrab;
}